* {
  box-sizing: border-box;
  font-family: AkzidenzGroteskBQ-Ext, Helvatica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  height: 25%;
  position: relative;
  top: 0;
  width: 100%;
  padding: 3rem 0;
  background-color: #212121;
  box-shadow: 0 6px 8px -1px rgb(0, 0, 0, .13);
}

main {
  min-height: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

footer {
  height: 10%;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem 1rem 0;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom-icon {
  margin: 0 1rem;
  color: white;
  font-size: calc(22px + (24 - 17) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  text-decoration: none;
}

.nav-icons a:hover .bottom-icon {
  color: #7219cb;
  transition: all .2s ease-out;
}

nav h1 {
  margin: 2rem 0 0 0 !important;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  font-size: 60px;
  text-align: center;
}

h4 {
  font-size: larger;
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #212121;
  text-align: center;
  width: 30%;
}

.btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  padding: 2rem;
  border-radius: 200px !important;
  background: none;
  color: black;
  border: solid 2px black;
  font: inherit;
  font-size: large;
  font-weight: 900;
  letter-spacing: .1875rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: all .5s ease-out;
  -webkit-appearance: none !important;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #7219cb;
  transition: all .5s;
  z-index: -1;
  transform: translateY(60px);
  left: -47px;
}

.btn:hover {
  color: white;
  border: solid 2px #7219cb;
}

.btn:hover:before {
  transform: translateY(-120px);
  width: 470px;
  height: 470px;
  border-radius: 470px;
}

#copyright-text {
  text-align: center;
  color: white;
  font-size: x-small;
}

.github-link {
  color: white;
  transition: all .2s ease-in;
  border-bottom: solid 1px rgba(221, 221, 221, 0);
}

.github-link:hover {
  border-bottom: solid 1px #ddd;
}

@media only screen and (max-width: 768px) {

  nav {
    height: 20%;
  }

  main {
    min-height: 70%;
  }

  nav h1 {
    font-size: 33px;
  }

  .card {
    width: 100%;
  }

}