* {
  box-sizing: border-box;
  font-family: AkzidenzGroteskBQ-Ext, Helvatica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: #2E2A34;
}

nav {
  padding: 2rem .5rem;
  background-color: black;
  box-shadow: 0 6px 8px -1px rgb(0 0 0 / 13%);
}

main {
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

footer {
  padding: 1rem 1rem 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom-icon {
  margin: 1rem;
  color: rgb(255, 255, 255);
  font-size: calc(22px + (24 - 17) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  text-decoration: none;
}

.nav-icons a:hover .bottom-icon {
  color: #49b6dd;
  transition: all .2s ease-out;
}

h1 {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  font-size: calc(31px + (67 - 17) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

h4 {
  font-size: larger;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: black;
  text-align: center;
  width: 30%;
}

.btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 20px;
  padding: 2rem;
  border-radius: 200px !important;
  background: rgb(255, 255, 255);
  color: black;
  border: solid 2px black;
  font: inherit;
  font-size: large;
  font-weight: 900;
  letter-spacing: .1875rem;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-out;
  -webkit-appearance: none !important;
}

.btn::after {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: purple;
}

.btn:hover {
  background: #49b6dd;
  border: solid 2px #49b6dd;
  color: rgb(255, 255, 255);
}

#copyright-text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: x-small;
}

.github-link {
  color: rgb(255, 255, 255);
  transition: all .2s ease-in;
  border-bottom: solid 1px rgba(221, 221, 221, 0);
}

.github-link:hover {
  color: white;
  border-bottom: solid 1px white;
}

@media only screen and (max-width: 768px) {

  .card {
    width: 100%;
  }

}